.main {
    $attr: (
        'font-family': 'primaryFont',
        'color': 'contrast',
        'background': ('shade', 'base', 10%)
    );
    @include themeBuilder($attr);
    font-size: $base-size;
}

img {
    max-width: 100%;
}