@import '../../styles/globals/all';

.CategoryList {
    @extend %flex;
    flex-direction: row;
    margin: 1rem 0;
    .CategoryCard {
        flex: 1;
        margin-right: 0.5rem;
    }
    div:last-child {
        margin-right: 0;
    }
    @media screen and (max-width: $md-break) {
        flex-direction: column;
        .CategoryCard {
            margin-right: 0rem;
            margin-bottom: 0.5rem;
        }
        div:last-child {
            margin-bottom: 0rem;
        }
    } 
}