/** OTT Theme Builder v1.0 **/
.card {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem; }
  .mediastream-theme .card {
    background: white; }
  .mediastream-theme-scoped .card {
    background: white !important; }
  .dark-mediastream-theme .card {
    background: #0a0a0a; }
  .dark-mediastream-theme-scoped .card {
    background: #0a0a0a !important; }
  .ice-green-theme .card {
    background: white; }
  .ice-green-theme-scoped .card {
    background: white !important; }
  .lava-theme .card {
    background: white; }
  .lava-theme-scoped .card {
    background: white !important; }
  .lavender-theme .card {
    background: white; }
  .lavender-theme-scoped .card {
    background: white !important; }
  .dust-theme .card {
    background: white; }
  .dust-theme-scoped .card {
    background: white !important; }
  .card-image {
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    height: 240px; }
    .card-image::before {
      height: 100%;
      width: 100%;
      position: absolute;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 85%);
      content: ""; }
  .card-featured {
    color: #0a0a0a;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75rem 1rem; }
    .mediastream-theme .card-featured {
      background-color: #96d600;
      font-family: "Poppins", sans-serif; }
    .mediastream-theme-scoped .card-featured {
      background-color: #96d600 !important;
      font-family: "Poppins", sans-serif !important; }
    .dark-mediastream-theme .card-featured {
      background-color: #96d600;
      font-family: "Poppins", sans-serif; }
    .dark-mediastream-theme-scoped .card-featured {
      background-color: #96d600 !important;
      font-family: "Poppins", sans-serif !important; }
    .ice-green-theme .card-featured {
      background-color: #856ef7;
      font-family: "Verdana", sans-serif; }
    .ice-green-theme-scoped .card-featured {
      background-color: #856ef7 !important;
      font-family: "Verdana", sans-serif !important; }
    .lava-theme .card-featured {
      background-color: #e09952;
      font-family: "Helvetica", sans-serif; }
    .lava-theme-scoped .card-featured {
      background-color: #e09952 !important;
      font-family: "Helvetica", sans-serif !important; }
    .lavender-theme .card-featured {
      background-color: #85e0b3;
      font-family: "Roboto", sans-serif; }
    .lavender-theme-scoped .card-featured {
      background-color: #85e0b3 !important;
      font-family: "Roboto", sans-serif !important; }
    .dust-theme .card-featured {
      background-color: #e0d185;
      font-family: "Roboto", sans-serif; }
    .dust-theme-scoped .card-featured {
      background-color: #e0d185 !important;
      font-family: "Roboto", sans-serif !important; }
  .card-time {
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1rem; }
    .mediastream-theme .card-time {
      font-family: "Poppins", sans-serif; }
    .mediastream-theme-scoped .card-time {
      font-family: "Poppins", sans-serif !important; }
    .dark-mediastream-theme .card-time {
      font-family: "Poppins", sans-serif; }
    .dark-mediastream-theme-scoped .card-time {
      font-family: "Poppins", sans-serif !important; }
    .ice-green-theme .card-time {
      font-family: "Verdana", sans-serif; }
    .ice-green-theme-scoped .card-time {
      font-family: "Verdana", sans-serif !important; }
    .lava-theme .card-time {
      font-family: "Helvetica", sans-serif; }
    .lava-theme-scoped .card-time {
      font-family: "Helvetica", sans-serif !important; }
    .lavender-theme .card-time {
      font-family: "Roboto", sans-serif; }
    .lavender-theme-scoped .card-time {
      font-family: "Roboto", sans-serif !important; }
    .dust-theme .card-time {
      font-family: "Roboto", sans-serif; }
    .dust-theme-scoped .card-time {
      font-family: "Roboto", sans-serif !important; }
  .card-content {
    padding: 1rem; }
  .card-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 0.25rem; }
    .mediastream-theme .card-title {
      color: #96d600;
      font-family: "Poppins", sans-serif; }
    .mediastream-theme-scoped .card-title {
      color: #96d600 !important;
      font-family: "Poppins", sans-serif !important; }
    .dark-mediastream-theme .card-title {
      color: #96d600;
      font-family: "Poppins", sans-serif; }
    .dark-mediastream-theme-scoped .card-title {
      color: #96d600 !important;
      font-family: "Poppins", sans-serif !important; }
    .ice-green-theme .card-title {
      color: #40bf80;
      font-family: "Verdana", sans-serif; }
    .ice-green-theme-scoped .card-title {
      color: #40bf80 !important;
      font-family: "Verdana", sans-serif !important; }
    .lava-theme .card-title {
      color: #d94426;
      font-family: "Helvetica", sans-serif; }
    .lava-theme-scoped .card-title {
      color: #d94426 !important;
      font-family: "Helvetica", sans-serif !important; }
    .lavender-theme .card-title {
      color: #c47de8;
      font-family: "Roboto", sans-serif; }
    .lavender-theme-scoped .card-title {
      color: #c47de8 !important;
      font-family: "Roboto", sans-serif !important; }
    .dust-theme .card-title {
      color: #cc8033;
      font-family: "Roboto", sans-serif; }
    .dust-theme-scoped .card-title {
      color: #cc8033 !important;
      font-family: "Roboto", sans-serif !important; }
  .card-description {
    margin-bottom: 1rem; }
    .mediastream-theme .card-description {
      font-family: "Poppins", sans-serif;
      color: #858585; }
    .mediastream-theme-scoped .card-description {
      font-family: "Poppins", sans-serif !important;
      color: #858585 !important; }
    .dark-mediastream-theme .card-description {
      font-family: "Poppins", sans-serif;
      color: gray; }
    .dark-mediastream-theme-scoped .card-description {
      font-family: "Poppins", sans-serif !important;
      color: gray !important; }
    .ice-green-theme .card-description {
      font-family: "Poppins", sans-serif;
      color: #858585; }
    .ice-green-theme-scoped .card-description {
      font-family: "Poppins", sans-serif !important;
      color: #858585 !important; }
    .lava-theme .card-description {
      font-family: "Times New Roman", serif;
      color: #858585; }
    .lava-theme-scoped .card-description {
      font-family: "Times New Roman", serif !important;
      color: #858585 !important; }
    .lavender-theme .card-description {
      font-family: "Montserrat", sans-serif;
      color: #858585; }
    .lavender-theme-scoped .card-description {
      font-family: "Montserrat", sans-serif !important;
      color: #858585 !important; }
    .dust-theme .card-description {
      font-family: "Arvo", sans-serif;
      color: #858585; }
    .dust-theme-scoped .card-description {
      font-family: "Arvo", sans-serif !important;
      color: #858585 !important; }
  .card-meta {
    display: flex;
    align-items: center; }
    .card-meta .rating .star {
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      margin-right: 0.25rem; }
      .mediastream-theme .card-meta .rating .star {
        fill: #96d600; }
      .mediastream-theme-scoped .card-meta .rating .star {
        fill: #96d600 !important; }
      .dark-mediastream-theme .card-meta .rating .star {
        fill: #96d600; }
      .dark-mediastream-theme-scoped .card-meta .rating .star {
        fill: #96d600 !important; }
      .ice-green-theme .card-meta .rating .star {
        fill: #40bf80; }
      .ice-green-theme-scoped .card-meta .rating .star {
        fill: #40bf80 !important; }
      .lava-theme .card-meta .rating .star {
        fill: #d94426; }
      .lava-theme-scoped .card-meta .rating .star {
        fill: #d94426 !important; }
      .lavender-theme .card-meta .rating .star {
        fill: #c47de8; }
      .lavender-theme-scoped .card-meta .rating .star {
        fill: #c47de8 !important; }
      .dust-theme .card-meta .rating .star {
        fill: #cc8033; }
      .dust-theme-scoped .card-meta .rating .star {
        fill: #cc8033 !important; }
    .card-meta .date {
      font-size: 0.9rem;
      margin-left: 0.5rem;
      display: inline-block; }
      .mediastream-theme .card-meta .date {
        color: #858585;
        font-family: "Poppins", sans-serif; }
      .mediastream-theme-scoped .card-meta .date {
        color: #858585 !important;
        font-family: "Poppins", sans-serif !important; }
      .dark-mediastream-theme .card-meta .date {
        color: gray;
        font-family: "Poppins", sans-serif; }
      .dark-mediastream-theme-scoped .card-meta .date {
        color: gray !important;
        font-family: "Poppins", sans-serif !important; }
      .ice-green-theme .card-meta .date {
        color: #858585;
        font-family: "Poppins", sans-serif; }
      .ice-green-theme-scoped .card-meta .date {
        color: #858585 !important;
        font-family: "Poppins", sans-serif !important; }
      .lava-theme .card-meta .date {
        color: #858585;
        font-family: "Times New Roman", serif; }
      .lava-theme-scoped .card-meta .date {
        color: #858585 !important;
        font-family: "Times New Roman", serif !important; }
      .lavender-theme .card-meta .date {
        color: #858585;
        font-family: "Montserrat", sans-serif; }
      .lavender-theme-scoped .card-meta .date {
        color: #858585 !important;
        font-family: "Montserrat", sans-serif !important; }
      .dust-theme .card-meta .date {
        color: #858585;
        font-family: "Arvo", sans-serif; }
      .dust-theme-scoped .card-meta .date {
        color: #858585 !important;
        font-family: "Arvo", sans-serif !important; }

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 12px rgba(10, 10, 10, 0.1);
  cursor: pointer; }
  .mediastream-theme button {
    color: #0a0a0a;
    background-color: #96d600;
    font-family: "Poppins", sans-serif; }
  .mediastream-theme-scoped button {
    color: #0a0a0a !important;
    background-color: #96d600 !important;
    font-family: "Poppins", sans-serif !important; }
  .dark-mediastream-theme button {
    color: white;
    background-color: #96d600;
    font-family: "Poppins", sans-serif; }
  .dark-mediastream-theme-scoped button {
    color: white !important;
    background-color: #96d600 !important;
    font-family: "Poppins", sans-serif !important; }
  .ice-green-theme button {
    color: #0a0a0a;
    background-color: #40bf80;
    font-family: "Verdana", sans-serif; }
  .ice-green-theme-scoped button {
    color: #0a0a0a !important;
    background-color: #40bf80 !important;
    font-family: "Verdana", sans-serif !important; }
  .lava-theme button {
    color: #0a0a0a;
    background-color: #d94426;
    font-family: "Helvetica", sans-serif; }
  .lava-theme-scoped button {
    color: #0a0a0a !important;
    background-color: #d94426 !important;
    font-family: "Helvetica", sans-serif !important; }
  .lavender-theme button {
    color: #0a0a0a;
    background-color: #c47de8;
    font-family: "Roboto", sans-serif; }
  .lavender-theme-scoped button {
    color: #0a0a0a !important;
    background-color: #c47de8 !important;
    font-family: "Roboto", sans-serif !important; }
  .dust-theme button {
    color: #0a0a0a;
    background-color: #cc8033;
    font-family: "Roboto", sans-serif; }
  .dust-theme-scoped button {
    color: #0a0a0a !important;
    background-color: #cc8033 !important;
    font-family: "Roboto", sans-serif !important; }
  .mediastream-theme button:hover {
    background-color: #7fb600; }
  .mediastream-theme-scoped button:hover {
    background-color: #7fb600 !important; }
  .dark-mediastream-theme button:hover {
    background-color: #a6dc26; }
  .dark-mediastream-theme-scoped button:hover {
    background-color: #a6dc26 !important; }
  .ice-green-theme button:hover {
    background-color: #36a36c; }
  .ice-green-theme-scoped button:hover {
    background-color: #36a36c !important; }
  .lava-theme button:hover {
    background-color: #b83a21; }
  .lava-theme-scoped button:hover {
    background-color: #b83a21 !important; }
  .lavender-theme button:hover {
    background-color: #a76ac5; }
  .lavender-theme-scoped button:hover {
    background-color: #a76ac5 !important; }
  .dust-theme button:hover {
    background-color: #ad6c2b; }
  .dust-theme-scoped button:hover {
    background-color: #ad6c2b !important; }
  .mediastream-theme button:focus, .mediastream-theme button:active {
    background-color: #5a8100;
    color: white; }
  .mediastream-theme-scoped button:focus, .mediastream-theme-scoped button:active {
    background-color: #5a8100 !important;
    color: white !important; }
  .dark-mediastream-theme button:focus, .dark-mediastream-theme button:active {
    background-color: #c0e766;
    color: #0a0a0a; }
  .dark-mediastream-theme-scoped button:focus, .dark-mediastream-theme-scoped button:active {
    background-color: #c0e766 !important;
    color: #0a0a0a !important; }
  .ice-green-theme button:focus, .ice-green-theme button:active {
    background-color: #26734d;
    color: white; }
  .ice-green-theme-scoped button:focus, .ice-green-theme-scoped button:active {
    background-color: #26734d !important;
    color: white !important; }
  .lava-theme button:focus, .lava-theme button:active {
    background-color: #822917;
    color: white; }
  .lava-theme-scoped button:focus, .lava-theme-scoped button:active {
    background-color: #822917 !important;
    color: white !important; }
  .lavender-theme button:focus, .lavender-theme button:active {
    background-color: #764b8b;
    color: white; }
  .lavender-theme-scoped button:focus, .lavender-theme-scoped button:active {
    background-color: #764b8b !important;
    color: white !important; }
  .dust-theme button:focus, .dust-theme button:active {
    background-color: #7a4d1f;
    color: white; }
  .dust-theme-scoped button:focus, .dust-theme-scoped button:active {
    background-color: #7a4d1f !important;
    color: white !important; }

.container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 2rem 0; }

h2 {
  margin-top: 3rem;
  font-size: 1.25rem; }
  .mediastream-theme h2 {
    color: #96d600;
    font-family: "Poppins", sans-serif; }
  .mediastream-theme-scoped h2 {
    color: #96d600 !important;
    font-family: "Poppins", sans-serif !important; }
  .dark-mediastream-theme h2 {
    color: #96d600;
    font-family: "Poppins", sans-serif; }
  .dark-mediastream-theme-scoped h2 {
    color: #96d600 !important;
    font-family: "Poppins", sans-serif !important; }
  .ice-green-theme h2 {
    color: #40bf80;
    font-family: "Verdana", sans-serif; }
  .ice-green-theme-scoped h2 {
    color: #40bf80 !important;
    font-family: "Verdana", sans-serif !important; }
  .lava-theme h2 {
    color: #d94426;
    font-family: "Helvetica", sans-serif; }
  .lava-theme-scoped h2 {
    color: #d94426 !important;
    font-family: "Helvetica", sans-serif !important; }
  .lavender-theme h2 {
    color: #c47de8;
    font-family: "Roboto", sans-serif; }
  .lavender-theme-scoped h2 {
    color: #c47de8 !important;
    font-family: "Roboto", sans-serif !important; }
  .dust-theme h2 {
    color: #cc8033;
    font-family: "Roboto", sans-serif; }
  .dust-theme-scoped h2 {
    color: #cc8033 !important;
    font-family: "Roboto", sans-serif !important; }

input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid;
  margin: 1rem auto 3rem auto;
  font-size: 1.5rem;
  box-sizing: border-box;
  width: 100%; }
  .mediastream-theme input {
    border-color: #96d600; }
  .mediastream-theme-scoped input {
    border-color: #96d600 !important; }
  .dark-mediastream-theme input {
    border-color: #96d600; }
  .dark-mediastream-theme-scoped input {
    border-color: #96d600 !important; }
  .ice-green-theme input {
    border-color: #40bf80; }
  .ice-green-theme-scoped input {
    border-color: #40bf80 !important; }
  .lava-theme input {
    border-color: #d94426; }
  .lava-theme-scoped input {
    border-color: #d94426 !important; }
  .lavender-theme input {
    border-color: #c47de8; }
  .lavender-theme-scoped input {
    border-color: #c47de8 !important; }
  .dust-theme input {
    border-color: #cc8033; }
  .dust-theme-scoped input {
    border-color: #cc8033 !important; }
  input:focus {
    outline: none;
    box-shadow: none; }
