@import "styles/styles.scss";

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    box-sizing: border-box;
}

h2 {
    $attr: (
        'color': 'primaryColor',
        'font-family': 'primaryFont'
    );
    margin-top: 3rem;
    font-size: 1.25rem;
    @include themeBuilder($attr);
}

input {
    $attr: (
        'border-color': 'primaryColor'
    );
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid;
    margin: 1rem auto 1rem auto;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    @include themeBuilder($attr);
    &:focus {
        outline: none;
        box-shadow: none;
    }
}