@import '../../styles/globals/all';

.MediaList {
    @extend %flex;
    flex-direction: row;
    margin: 1rem 0;
    flex-wrap: nowrap;
    .MediaItem {
        flex: 1;
        margin-right: 0.5rem;
        min-width: 260px;
    }
    div:last-child {
        margin-right: 0;
    }
    @media screen and (max-width: $md-break) {
        flex-direction: column;
        .MediaItem {
            margin-right: 0rem;
            margin-bottom: 0.5rem;
        }
        div:last-child {
            margin-bottom: 0rem;
        }
    } 
}